{% load static %}

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>Start2Token</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/png">
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

     <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- CSS only -->

    <style type="text/css">

        .button {
            background-color: #008CBA; /* Blue */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px 10px 10px 10px;
        }

        #svg circle {
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 1s linear;
            stroke: #666;
            stroke-width: 1em;
        }
        #svg #bar {
            stroke: #FF9F1E;
        }
        #cont {
            display: none;
            height: 200px;
            width: 200px;
            margin: 2em auto;
            box-shadow: 0 0 1em black;
            border-radius: 100%;
            position: relative;
        }
        #cont:after {
            position: absolute;
            display: block;
            height: 160px;
            width: 160px;
            left: 50%;
            top: 50%;
            box-shadow: inset 0 0 1em black;
            content: attr(data-pct)"%";
            margin-top: -80px;
            margin-left: -80px;
            border-radius: 100%;
            line-height: 160px;
            font-size: 2em;
            text-shadow: 0 0 0.5em black;
        }

        input {
            color: #000;
        }

    </style>
    
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
   
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== NAVBAR TWO PART START ======-->

    <section class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <h1 class="navbar-brand"><span style="color:ORANGE; font-size: 30px; font-style: italic;">S2T ICO</span></h1>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                            <ul class="navbar-nav m-auto">
                                {% if user.is_authenticated %}
                                <li class="nav-item active"><a class="page-scroll" href="#home">Home</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#services">About</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#portfolio">Progress</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#pricing">Purchase</a></li>
                                {% else %}
                                <li class="nav-item active"><a class="page-scroll" href="#home">Home</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#services">About</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#portfolio">Progress</a></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="navbar-btn d-none d-sm-inline-block">
                            <ul>
                                {% if user.is_authenticated %}
                                <li><a class="solid" style="cursor: pointer" onclick="popup('profile',250,300)">Hello, {{user}}!</a></li>
                                <li><a class="solid" href="logout">Logout</a></li>
                                {% else %}
                                <li><a class="solid" href="login">Login</a></li>
                                <li><a class="solid" href="registration">Registration</a></li>
                                {% endif %}
                            </ul>
                        </div>

                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== NAVBAR TWO PART ENDS ======-->
    
    <!--====== SLIDER PART START ======-->

    <section id="home" class="slider_area">
        <div id="carouselThree" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <h1 class="title" align="middle">$ᴛᴀʀᴛ <BR>𝟸<BR> ᴛᴏᴋΞɴ</h1>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->

                    <div class="slider-image-box d-none d-lg-flex align-items-end">
                        <div class="slider-image">
                            <img src="{% static 'assets/images/slider/blockchain.png' %}">
                        </div> <!-- slider-imgae -->
                    </div> <!-- slider-imgae box -->

                </div> <!-- carousel-item -->
            </div>
        </div>
    </section>

    <!--====== SLIDER PART ENDS ======-->
    
    <!--====== FEATURES TWO PART START ======-->

    <section id="services" class="features-area">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">About</h3>
                        <p class="text">Let's see which services we provide you!</p>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->

            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <center>
                            <a href="faucet">
                                <div align="middle" class="features-title-icon d-flex justify-content-between">
                                    <h4 class="features-title">Faucet</h4>
                                </div><hr>
                                <img class="shape" src="{% static 'assets/images/faucet.png' %}"><hr>
                                <div class="features-content">
                                    <p>Get ether to test the platform!</p>
                                </div>
                            </a>
                        </center>
                    </div> <!-- single features -->
                </div>

                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <center>
                            <button style="border: none; background: none" onclick="enableEthereum()">
                                <div align="middle" class="features-title-icon d-flex justify-content-between">
                                    <h4 class="features-title">Metamask</h4>
                                </div><hr>
                                <img class="shape" src="{% static 'assets/images/metamask.png' %}"><hr>
                                <div class="features-content">
                                    <p>Connect to Metamask!</p>
                                </div>
                            </button>
                        </center>
                    </div> <!-- single features -->
                </div>

                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <center>
                            <a href="list/transactions">
                                <div align="middle" class="features-title-icon d-flex justify-content-between">
                                    <h4 class="features-title">Transactions</h4>
                                </div><hr>
                                <img class="shape" src="{% static 'assets/images/wallet.png' %}"><hr>
                                <div class="features-content">
                                    <p>Check complete transactions!</p>
                                </div>
                            </a>
                        </center>
                    </div> <!-- single features -->
                </div>

            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== FEATURES TWO PART ENDS ======-->
    
    <!--====== PORTFOLIO PART START ======-->

    <section id="portfolio" class="portfolio-area portfolio-four pb-100">

        <div class="container">

            <div class="section-title text-center pb-10">
                <h3 class="title">Progress</h3>
                <p class="text">Keep an eye on token availability in real time!</p>
            </div> <!-- row -->

            <center>
                <div id="cont" data-pct="100">
                    <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                    </svg><br><br>
                    <p>{{supply}} of 1000 Tokens available!</p>
                </div>
                <br><br><button id="percent" onclick='document.getElementById("cont").style.display = "block"; document.getElementById("percent").style.display = "none"' class="button" name="percent" value="{{percentage}}">Click Here!</button>
            </center>

        </div> <!-- container -->

    </section>

    <!--====== PORTFOLIO PART ENDS ======-->
    {% if user.is_authenticated %}
    <!--====== PRICING START ======-->

    <section id="pricing" class="pricing-area">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-25">
                        <h3 class="title">Purchase</h3>
                        <p class="text">Choose what offer you want to buy!</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->

            <form method="POST">
                {% csrf_token %}
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="pricing-style mt-30">
                            <div class="pricing-icon text-center"></div>
                            <div class="pricing-header text-center">
                                <h5 class="sub-title">10 Token</h5><hr>
                                <p class="month"><span class="price">1 Ether</span></p>
                            </div>
                            <div class="pricing-btn rounded-buttons text-center">
                                <center><input id="address" name="address" placeholder="Enter your address..." style="border-radius : 5px 5px 5px 5px; text-align: center; display: none"></center>
                                <hr>
                                <button id="transaction" type="button" class="main-btn rounded-one" onclick='sendEther()'>Buy</button>
                                <center><button id="token" name="offer" value="10" type="submit" class="main-btn rounded-one" style="display: none">Get your Tokens!</button></center>
                            </div><br>
                            <center>
                                <div id="spinner1" style="display:none" class="spinner-border text-dark" role="status">
                                    <span class="visually-hidden"></span>
                                </div>
                            </center>
                        </div> <!-- pricing style one -->
                    </div>

                </div>
            </form>

        </div> <!-- row -->

    </section>

    <!--====== PRINICNG ENDS ======-->
    {% else %}
    {% endif %}
    <!--====== CONTACT PART START ======-->
    <!--====== CONTACT PART ENDS ======-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width:auto">

          <div class="modal-header">
            <h3 align="center" class="modal-title" id="exampleModalLongTitle">Profile</h3>
          </div>

          <div class="modal-body" style="width:auto">
              <b>Your Token Balance : </b>{{balanceToken}} S2T
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"  style="width:auto">
          <div class="modal-body">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!--====== FOOTER PART START ======-->

    <section class="footer-area footer-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">

                    <div class="footer-logo text-center">
                        <div class="mt-30" href="index.html"><img src="{% static 'assets/images/start.png' %}" alt="Logo"></div>
                    </div> <!-- footer logo -->

                    <ul class="social text-center mt-60">
                        <li><a href="https://www.facebook.com/gianmaria.mazzacash" target="-blank"><i class="lni lni-facebook-filled"></i></a></li>
                        <li><a href="https://twitter.com/kushking2209199" target="-blank"><i class="lni lni-twitter-original"></i></a></li>
                        <li><a href="https://www.instagram.com/mazzacash/" target="-blank"><i class="lni lni-instagram-original"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/giovanni-maria-mazza-7232bb1ba/" target="-blank"><i class="lni lni-linkedin-original"></i></a></li>
                    </ul> <!-- social -->

                    <div class="footer-support text-center">
                        <span class="number">by Giovanni Maria Mazza</span>
                        <span class="mail">BlockChain Development Student</span>
                    </div>

                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->

    <!--====== Jquery js ======-->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.7.1.min.js' %}"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    
    <!--====== Slick js ======-->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="{% static 'assets/js/ajax-contact.js' %}"></script>
    
    <!--====== Isotope js ======-->
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/scrolling-nav.js' %}"></script>
    
    <!--====== Main js ======-->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

    <script type="text/javascript">

        if (typeof window.ethereum !== 'undefined') {
            console.log('MetaMask is installed!');
        }

        async function enableEthereum() {
            await ethereum.request({ method: 'eth_requestAccounts' });
        };

        async function sendEther() {

            showProgress();
            await ethereum.request({ method: 'eth_accounts' });
            const address = ethereum.selectedAddress
            try {
              const transactionHash = await ethereum.request({
                method: 'eth_sendTransaction',
                params: [
                  {
                    from: address,
                    to: '{{contractCreator}}',
                  },
                ],
              });
              // Handle the result
              console.log(transactionHash);
              hideProgress();
              hideButton();
              showButton();
              showAddress();
            } catch (error) {
              hideProgress();
              console.error(error);
            }
        };

        function showButton() {
            document.getElementById("token").style.display = "block";
        };

        function hideButton() {
            document.getElementById("transaction").style.display = "none";
        };

        function showProgress() {
            document.getElementById("spinner1").style.display = "block";
        };

        function hideProgress() {
            document.getElementById("spinner1").style.display = "none";
        };

        function showAddress() {
            document.getElementById("address").style.display = "block";
        };


    </script>

    <script type="text/javascript">

        $('#percent').on('click', function(){
            var val = document.getElementById('percent').value
            var $circle = $('#svg #bar');

            if (isNaN(val)) {
                val = 100;
            }
            else{
                var r = $circle.attr('r');
                var c = Math.PI*(r*2);

                if (val < 0) { val = 0;}
                if (val > 100) { val = 100;}

                var pct = ((100-val)/100)*c;

                $circle.css({ strokeDashoffset: pct});

                $('#cont').attr('data-pct',val);
            }
        });

    </script>

    <script type="text/javascript">
        function popup(url, h, w) {
            var popTop = Math.floor((screen.height-h)/2);
            var popLeft = Math.floor((screen.width-w)/2);
            window.open(url, "popup", "height="+h+",width="+w+",top="+popTop+",left="+popLeft+",toolbar=no,menubar=no,status=no,scrollbars=no")
        }
    </script>

    {% if messages %}
        <script type="text/javascript">
            $(window).on('load',function(){
                $('#myModal').modal('show');
            });
        </script>
    {% else %}

    {% endif %}

</body>

</html>
