<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"></head>
    <style type="text/css">
        div#centro {
            width: 500px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 35%;
            margin-top: -100px;
            margin-left: -100px;
        }
    </style>
<body style="background-color: black">
<div id="centro" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <center><div class="card-header">Profile</div></center>
  <div class="card-body">
      {% if balance %}
      <br><center><h5 class="card-title">Your balance:</h5>
      {{balance}}</center>
      {% else %}
      <center><h5 class="card-title">Enter your Address:</h5>
        <form method="POST">
            {% csrf_token %}
            <input name="address"><hr>
            <button id="button" class="btn btn-dark" type="submit">Check your Balance!</button>
        </form>
      </center>
      {% endif %}
  </div>
</div>
</body>
</html>